requests==2.25.1  # ok

# SQLAlchemy==1.4.11  <-- ex
SQLAlchemy==2.0.7
# psycopg2-binary==2.9.5  <-- from comm
pg8000==1.19.4  # <-- do we need to update it?

beautifulsoup4==4.9.3  # do we need to update it?

google-cloud-pubsub==2.16.0  # ok
google-cloud-secret-manager==2.16.0  # ok