requests==2.31.0

SQLAlchemy==1.4.11  # <-- old version, but still works
# SQLAlchemy==2.0.7  # <-- new version for python 3.10, but start requiring 2 add'l params – so not yet implemented

pg8000==1.19.4  # <-- do we need to update it?

beautifulsoup4==4.9.3  # do we need to update it?
lxml==4.9.1

google-cloud-pubsub==2.16.0
google-cloud-secret-manager==2.16.0
google-cloud-logging==3.5.0