requests==2.25.1
urllib3==1.26.4
beautifulsoup4==4.9.3
lxml==4.6.3
pg8000==1.19.4
psycopg2==2.8.6

python-telegram-bot[rate-limiter, job-queue]==20.2
httpx==0.23.3

# google-cloud-pubsub==2.16.0
google-cloud-secret-manager==2.16.0
google-cloud-logging==3.5.0
