python-dateutil==2.8.2  # extension to datetime module

natasha==1.4.0  # recognition of person and location within text string

google-cloud-logging==3.5.0
functions-framework==3.4.0  # a part of Google Cloud Functions Gen 2 framework

