beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
google-cloud-secret-manager==2.4.0
google-cloud-storage==1.40.0
idna==2.10
lxml==4.6.3
pg8000==1.19.4
pyTelegramBotAPI==3.7.7
python-dateutil
requests==2.25.1
SQLAlchemy==1.4.11
urllib3==1.26.5
google-cloud-pubsub==2.6.0
python-telegram-bot==13.4.1
cchardet==2.1.7
chardet==4.0.0
geopy==2.2.0