requests==2.31.0
urllib3==1.26.17  # http client
idna==2.10  # translation of domain names
certifi==2023.7.22  # SSL certificates

chardet==4.0.0  # encoding detector
python-dateutil  # extension to datetime module
pytz==2021.1  # timezone

SQLAlchemy==1.4.11
pg8000==1.19.4  # PSQL driver

google-cloud-pubsub==2.16.0
google-cloud-secret-manager==2.16.0
google-cloud-logging==3.5.0