requests==2.31.0
urllib3==1.26.17  # http client
idna==2.10  # translation of domain names
certifi==2023.7.22  # SSL certificates

beautifulsoup4==4.9.3  # BS4
lxml==4.9.1  # for BS4

chardet==4.0.0  # encoding detector
cchardet==2.1.7  # encoding detector
python-dateutil==2.8.2  # extension to datetime module
geopy==2.2.0  # geocoding / coordinates
yandex-geocoder==3.0.1  # # geocoding / coordinates

SQLAlchemy==1.4.11
pg8000==1.19.4  # PSQL driver

natasha==1.4.0  # recognition of person and location within text string

google-cloud-pubsub==2.16.0
google-cloud-secret-manager==2.16.0
google-cloud-logging==3.5.0
google-cloud-storage==2.10.0
google-auth==2.19.1  # for API calls to other Google Cloud Functions

