name: Deploy-Check-Topics-By-Upd-Time

on:
  push:
    branches: [ main ]
    paths:
      - 'src/check_topics_by_upd_time/**'
      - '.github/workflows/deploy_check_topics_by_upd_time.yml'
      - 'src/_dependencies/*'
      - '.github/workflows/_reusable_wf_yc.yml'

jobs:
  deploy:
    uses: ./.github/workflows/_reusable_wf_yc.yml
    secrets: inherit
    with:
      function_name: check_topics_by_upd_time
      
