name: Deploy-Archive-To-BigQuery

on:
  push:
    branches: [ main ]
    paths:
      - 'src/archive_to_bigquery/**'
      - '.github/workflows/deploy_archive_to_bigquery.yml'
      - 'src/_dependencies/*'
      - '.github/workflows/_reusable_wf_yc.yml'

jobs:
  deploy:
    uses: ./.github/workflows/_reusable_wf_yc.yml
    secrets: inherit
    with:
      function_name: archive_to_bigquery
      timeout: '540'
      memory: '512Mb'