name: Deploy-Identify-Updates-Of-First-Posts

on:
  push:
    branches: [ main ]
    paths:
      - 'src/identify_updates_of_first_posts/**'
      - '.github/workflows/deploy_identify_updates_of_first_posts.yml'
      - 'src/_dependencies/*'
      - '.github/workflows/_reusable_wf_v1_trigger.yml'

jobs:
  deploy:
    uses: ./.github/workflows/_reusable_wf_v1_trigger.yml
    secrets: inherit
    with:
      function_name: identify_updates_of_first_posts
      event_trigger_resource: projects/lizaalert-bot-01/topics/topic_for_first_post_processing
