name: Deploy-Check-First-Posts-For-Changes

on:
  push:
    branches: [ main ]
    paths:
      - 'src/check_first_posts_for_changes/**'
      - '.github/workflows/deploy_check_first_posts_for_changes.yml'
      - 'src/_dependencies/*'
      - '.github/workflows/_reusable_wf_yc.yml'

jobs:
  deploy:
    uses: ./.github/workflows/_reusable_wf_yc.yml
    secrets: inherit
    with:
      function_name: check_first_posts_for_changes
      # timeout: '540'
      
