name: Deploy-Identify-Updates-Of-Topics

on:
  push:
    branches: [ main ]
    paths:
      - 'src/identify_updates_of_topics/**'
      - '.github/workflows/deploy_identify_updates_of_topics.yml'
      - 'src/_dependencies/*'
      - '.github/workflows/_reusable_wf_yc.yml'

jobs:
  deploy:
    uses: ./.github/workflows/_reusable_wf_yc.yml
    secrets: inherit
    with:
      function_name: identify_updates_of_topics
      
      timeout: '540'
      memory: '512Mb'