name: Deploy-Communicate

on:
  push:
    branches: [ main ]
    paths:
      - 'src/communicate/**' # UPD HERE!
      - '.github/workflows/deploy_communicate.yml' # UPD HERE!
      - 'src/_dependencies/*'
      - '.github/workflows/_reusable_wf_v1_http.yml'

jobs:
  deploy:
    uses: ./.github/workflows/_reusable_wf_v1_http.yml
    secrets: inherit
    with:
      function_name: communicate
      memory: '8192MB'
