name: Deploy-User-Provide-Info # UPD HERE!

on:
  push:
    branches: [ main ]
    paths:
      - 'src/user_provide_info/**' # UPD HERE!
      - '.github/workflows/deploy_user_provide_info.yml' # UPD HERE!
      - 'src/_dependencies/*'
      - '.github/workflows/_reusable_wf_v2_http.yml'

jobs:
  deploy:
    uses: ./.github/workflows/_reusable_wf_v2_http.yml
    secrets: inherit
    with:
      function_name: user_provide_info
      memory: '256MB'

