name: Deploy-Users-Activate # UPD HERE!

on:
  push:
    branches: [ main ]
    paths:
      - 'src/users_activate/**' # UPD HERE!
      - '.github/workflows/deploy_users_activate.yml' # UPD HERE!
      - 'src/_dependencies/*'
      - '.github/workflows/_reusable_wf_v1_trigger.yml'

jobs:
  deploy:
    uses: ./.github/workflows/_reusable_wf_v1_trigger.yml
    secrets: inherit
    with:
      function_name: users_activate
      event_trigger_resource: projects/lizaalert-bot-01/topics/users_activate # UPD HERE! topic
