name: Deploy-Users-Activate

on:
  push:
    branches: [ main ]
    paths:
      - 'src/users_activate/**'
      - '.github/workflows/deploy_users_activate.yml'
      - 'src/_dependencies/*'
      - '.github/workflows/_reusable_wf_yc.yml'

jobs:
  deploy:
    uses: ./.github/workflows/_reusable_wf_yc.yml
    secrets: inherit
    with:
      function_name: users_activate
      
