name: Deploy-Send-Notifications

on:
  push:
    branches: [ main ]
    paths:
      - 'src/send_notifications/**'
      - '.github/workflows/deploy_send_notifications.yml'
      - 'src/_dependencies/*'
      - '.github/workflows/_reusable_wf_v1_trigger.yml'

jobs:
  deploy:
    uses: ./.github/workflows/_reusable_wf_v1_trigger.yml
    secrets: inherit
    with:
      function_name: send_notifications
      event_trigger_resource: projects/lizaalert-bot-01/topics/topic_to_send_notifications
      timeout: '540'
