name: Deploy-Connect-To-Forum

on:
  push:
    branches: [ main ]
    paths:
      - 'src/connect_to_forum/**'
      - '.github/workflows/deploy_connect_to_forum.yml'
      - 'src/_dependencies/*'
      - '.github/workflows/_reusable_wf_yc.yml'

jobs:
  deploy:
    uses: ./.github/workflows/_reusable_wf_yc.yml
    secrets: inherit
    with:
      function_name: connect_to_forum
      
      # timeout: '540'
