name: Deploy-Title-Recognize # UPD HERE!

on:
  push:
    branches: [ main ]
    paths:
      - 'src/_dependencies/*'
      - 'src/title_recognize/**' # UPD HERE!
      - '.github/workflows/deploy_title_recognize.yml' # UPD HERE!
      - '.github/workflows/_reusable_wf_v2_http.yml'

jobs:
  deploy:
    uses: ./.github/workflows/_reusable_wf_v2_http.yml
    secrets: inherit
    with:
      function_name: title_recognize
      memory: '1024MB'
