name: Deploy-Identify-Updates-Of-Topics

on:
  push:
    branches: [ main ]
    paths:
      - 'src/identify_updates_of_topics/**'
      - '.github/workflows/deploy_identify_updates_of_topics.yml'
      - 'src/_dependencies/*'
      - '.github/workflows/_reusable_wf_v1_trigger.yml'

jobs:
  deploy:
    uses: ./.github/workflows/_reusable_wf_v1_trigger.yml
    secrets: inherit
    with:
      function_name: identify_updates_of_topics
      event_trigger_resource: projects/lizaalert-bot-01/topics/topic_to_run_parsing_script
      timeout: '540'
      memory: '512'